{% extends 'layout.html' %}

{% block content %}
			<div role="main" class="main">



			<section class="page-header mb-lg">

				<div class="container">

				</div>
			</section>

			<div class="container">
				<div class="row">
					<div class="col-md-9">
						<div class="toolbar mb-none">
							<div class="sorter">
								<div class="sort-by">
									<label>مرتب:</label>
                                    <select name="sort">
										<option value="Position">موقعیت</option>
										<option value="Name">نام</option>
										<option value="Price">قیمت</option>
									</select>
									<a href="#" title="Set Desc Direction">
										<img src="/assets/img/demos/shop/i_asc_arrow.gif" alt="Set Desc Direction">
									</a>
								</div>

								{% comment %}<div class="view-mode">
									<span title="Grid">
										<i class="fa fa-th"></i>
									</span>
									<a href="#" title="List">
										<i class="fa fa-list-ul"></i>ئّكٍ
									</a>
								</div>

								<ul class="pagination">
									<li class="active"><a href="#">1</a></li>
									<li><a href="#">2</a></li>
									<li><a href="#"><i class="fa fa-caret-right"></i></a></li>
								</ul>

								<div class="limiter">
									<label>Show:</label>
									<select>
										<option value="12">12</option>
										<option value="24">24</option>
										<option value="36">36</option>
									</select>
								</div>
{% endcomment %}							</div>
						</div>

						<ul class="products-grid columns3">
							{% for product in products %}
                            <li>
								<div class="product">
									<figure class="product-image-area">
										<a href="/product/{{ product.product_id }}" title="Product Name" class="product-image">
											<img src="{{ product.image_url }}" alt="">
											<img src="{{ product.image_url }}" alt="Product Name" class="product-hover-image">
										</a>


{#										<div class="product-label"><span class="discount">-10%</span></div>#}
{#										<div class="product-label"><span class="new">New</span></div>#}
									</figure>
									<div class="product-details-area">
										<h2 class="product-name"><a href="/product/{{ product.product_id }}" title="Product Name">{{ product.farsi_title }}</a></h2>
										<div class="product-ratings">

										</div>

										<div class="product-price-box">
{#											<span class="old-price">$99.00</span>#}
                                            {% load humanize %}

                                            <span class="product-price">{{ product.price|intcomma }} تومان </span>
										</div>


									</div>
								</div>
							</li>
                            {% endfor %}
						</ul>

					</div>

					<aside class="col-md-3 sidebar shop-sidebar">
						<div class="panel-group">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a class="accordion-toggle" data-toggle="collapse" href="#panel-filter-category">
											دسته ها
										</a>
									</h4>
								</div>
								<div id="panel-filter-category" class="accordion-body collapse in">
									<div class="panel-body">
										<ul>
                                            {%  for cat in categories %}
                                                <li><a href="/category/{{ cat.slug }}"> {{ cat.name }}</a></li>

                                            {% endfor %}

										</ul>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a class="accordion-toggle" data-toggle="collapse" href="#panel-filter-price">
											قیمت
										</a>
									</h4>
								</div>
								<div id="panel-filter-price" class="accordion-body collapse in">
									<div class="panel-body">
										<div class="filter-price">
                                            <div id="price-slider"></div>
                                            <form action="" method="get">
                                            <div class="filter-price-details">
                                                <span>از</span>
                                                <input type="text" name="from-price" id="price-range-low" class="form-control" placeholder="حداقل">
                                                <span>تا</span>
                                                <input type="text" name="to-price" id="price-range-high" class="form-control" placeholder="حداکثر">
                                                <input type="hidden" id="price-range-high-val" value="{{  maxPrice }}">
                                                <button type="submit" class="btn btn-primary">فیلتر</button>
                                            </div>
                                            </form>
                                        </div>
									</div>
								</div>
							</div>
						{% comment %}	<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a class="accordion-toggle" data-toggle="collapse" href="#panel-filter-size">
											Size
										</a>
									</h4>
								</div>
								<div id="panel-filter-size" class="accordion-body collapse in">
									<div class="panel-body">
										<ul class="configurable-filter-list">
											<li>
												<a href="#">S</a>
											</li>
											<li>
												<a href="#">M</a>
											</li>
											<li>
												<a href="#">L</a>
											</li>
											<li>
												<a href="#">XL</a>
											</li>
											<li>
												<a href="#">2XL</a>
											</li>
											<li>
												<a href="#">3XL</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a class="accordion-toggle" data-toggle="collapse" href="#panel-filter-brand">
											Brands
										</a>
									</h4>
								</div>
								<div id="panel-filter-brand" class="accordion-body collapse in">
									<div class="panel-body">
										<ul>
											<li><a href="#">Nike</a></li>
											<li><a href="#">Adidas</a></li>
											<li><a href="#">Puma</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a class="accordion-toggle" data-toggle="collapse" href="#panel-filter-color">
											color
										</a>
									</h4>
								</div>
								<div id="panel-filter-color" class="accordion-body collapse in">
									<div class="panel-body">
										<ul class="configurable-filter-list filter-list-color">
											<li>
												<a href="#">
													<span style="background-color: #000"></span>
												</a>
											</li>
											<li>
												<a href="#">
													<span style="background-color: #21284f"></span>
												</a>
											</li>
											<li>
												<a href="#">
													<span style="background-color: #272725"></span>
												</a>
											</li>
											<li>
												<a href="#">
													<span style="background-color: #006b20"></span>
												</a>
											</li>
											<li>
												<a href="#">
													<span style="background-color: #68686a"></span>
												</a>
											</li>
											<li>
												<a href="#">
													<span style="background-color: #1736a9"></span>
												</a>
											</li>
											<li>
												<a href="#">
													<span style="background-color: #f6edd1"></span>
												</a>
											</li>
											<li>
												<a href="#">
													<span style="background-color: #a69172"></span>
												</a>
											</li>
											<li>
												<a href="#">
													<span style="background-color: #d8c7a7"></span>
												</a>
											</li>
											<li>
												<a href="#">
													<span style="background-color: #fd9904"></span>
												</a>
											</li>
											<li>
												<a href="#">
													<span style="background-color: #f56ab8"></span>
												</a>
											</li>
											<li>
												<a href="#">
													<span style="background-color: #442937"></span>
												</a>
											</li>
											<li>
												<a href="#">
													<span style="background-color: #bd1721"></span>
												</a>
											</li>
											<li>
												<a href="#">
													<span style="background-color: #1226ad"></span>
												</a>
											</li>
											<li>
												<a href="#">
													<span style="background-color: #cbcbcb"></span>
												</a>
											</li>
											<li>
												<a href="#">
													<span style="background-color: #c7b89a"></span>
												</a>
											</li>
											<li>
												<a href="#">
													<span style="background-color: #fff"></span>
												</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						{% endcomment %}</div>

					</aside>
				</div>
			</div>

			</div>
{% endblock %}