{% extends 'layout.html' %}
{% block content %}
			<div role="main" class="main">
			
			

			<section class="page-header mb-lg">

				<div class="container">

				</div>
			</section>
			
			<div class="container">
				<div class="product-view">
					<div class="product-essential">
						<div class="row">
							<div class="product-img-box col-sm-5">
								<div class="product-img-box-wrapper">
                                    <div class="product-img-wrapper">
                                    	<img id="product-zoom" src="{{ product.image_url }}" data-zoom-image="{{ product.image_url }}" alt="Product main image">
                                    </div>

									<a href="#" class="product-img-zoom" title="Zoom">
										<span class="glyphicon glyphicon-search"></span>
									</a>
								</div>

{% comment %}
								<div class="owl-carousel manual" id="productGalleryThumbs">
									<div class="product-img-wrapper">
										<a href="#" data-image="../img/demos/shop/products/single/product1.jpg" data-zoom-image="../img/demos/shop/products/single/product1.jpg" class="product-gallery-item">
                                            <img src="/assets/img/demos/shop/products/single/thumbs/product1.jpg" alt="product">
                                        </a>
									</div>
									<div class="product-img-wrapper">
										<a href="#" data-image="../img/demos/shop/products/single/product2.jpg" data-zoom-image="../img/demos/shop/products/single/product2.jpg" class="product-gallery-item">
                                            <img src="/assets/img/demos/shop/products/single/thumbs/product2.jpg" alt="product">
                                        </a>
									</div>
									<div class="product-img-wrapper">
										<a href="#" data-image="../img/demos/shop/products/single/product3.jpg" data-zoom-image="../img/demos/shop/products/single/product3.jpg" class="product-gallery-item">
                                            <img src="/assets/img/demos/shop/products/single/thumbs/product3.jpg" alt="product">
                                        </a>
									</div>
									<div class="product-img-wrapper">
										<a href="#" data-image="../img/demos/shop/products/single/product4.jpg" data-zoom-image="../img/demos/shop/products/single/product4.jpg" class="product-gallery-item">
                                            <img src="/assets/img/demos/shop/products/single/thumbs/product4.jpg" alt="product">
                                        </a>
									</div>
									<div class="product-img-wrapper">
										<a href="#" data-image="../img/demos/shop/products/single/product5.jpg" data-zoom-image="../img/demos/shop/products/single/product5.jpg" class="product-gallery-item">
                                            <img src="/assets/img/demos/shop/products/single/thumbs/product5.jpg" alt="product">
                                        </a>
									</div>
								</div>
{% endcomment %}
							</div>

							<div class="product-details-box col-sm-7">
								<div class="product-nav-container">

								<h1 class="product-name">
									{{ product.farsi_title }}
								</h1>
                                <h2>
                                    {{ product.en_title }}
                                </h2>

{% comment %}								<div class="product-rating-container">
                                    <div class="product-ratings">
										<div class="ratings-box">
											<div class="rating" style="width:60%"></div>
										</div>
									</div>
                                    <div class="review-link">
                                        <a href="#" class="review-link-in" rel="nofollow"> <span class="count">1</span> customer review</a> | 
                                        <a href="#" class="write-review-link" rel="nofollow">Add a review</a>
                                    </div>
                                </div>
                                <div class="product-short-desc">
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
									<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
								</div>{% endcomment %}

								<div class="product-detail-info">
									<div class="product-price-box">
{#										<span class="old-price">$99.00</span>#}
                                        {% load humanize %}

                                        <span class="product-price">{{ product.price|intcomma }} تومان </span>
									</div>
									<p class="availability">
										<span class="font-weight-semibold">وضعیت:</span>
										موجود
									</p>
								</div>

								<div class="product-actions">
									<div class="product-detail-qty">
                                        <input type="text" value="1" class="vertical-spinner" id="product-vqty">
                                    </div>
									{% comment %}<a href="#" class="addtocart" title="Add to Cart">
										<i class="fa fa-shopping-cart"></i>
										<span>Add to Cart</span>
									</a>
									{% endcomment %}
									<div class="actions-right">

                                        <a href="/product/{{ product.product_id }}/remove" class="addtowishlist" title="Add to Compare">
											<i class="fa fa-trash"></i>
										</a>

										<a href="/product/{{ product.product_id }}/edit" class="comparelink" title="Add to Compare">
											<i class="fa fa-pencil"></i>
										</a>
									</div>
								</div>


							</div>
						</div>
					</div>
					<div class="tabs product-tabs">
						<ul class="nav nav-tabs">
							{% comment %}<li class="active">
								<a href="#product-desc" data-toggle="tab">Description</a>
							</li>{% endcomment %}

							<li class="active">
								<a href="#product-comments" data-toggle="tab">نظرات</a>
							</li>
							<li>
								<a href="#product-reviews" data-toggle="tab">پرسش و پاسخ</a>
							</li>
						</ul>
						<div class="tab-content">
{% comment %}
							<div id="product-desc" class="tab-pane active">
								<div class="product-desc-area">
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
									<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
									<ul>
										<li>Simple, Configurable (e.g. size, color, etc.), Bundled and Grouped Products</li>
										<li>Downloadable/Digital Products, Virtual Products</li>
										<li>Inventory Management with Backordered items</li>
										<li>Customer Personalized Products - upload text for embroidery, monogramming, etc.</li>
										<li>Create Store-specific attributes on the fly</li>
										<li>Advanced Pricing Rules and support for Special Prices</li>
										<li>Tax Rates per location, customer group and product type</li>
									</ul>
								</div>
							</div>
{% endcomment %}
							<div id="product-add" class="tab-pane">
								<table class="product-table">
									<tbody>
										<tr>
											<td class="table-label">Color</td>
											<td>Black</td>
										</tr>
										<tr>
											<td class="table-label">Size</td>
											<td>16mx24mx18m</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div id="product-comments" class="tab-pane active">
                                <form method="post" action="/product/{{ product.product_id }}/comment">
                                    									<div class="input-group">

                                    <input  class="form-control" placeholder="نام" name="by">
                                    <textarea  class="form-control" name="comment" placeholder="نظر..."></textarea><br>

                                            <button class="btn btn-info" type="submit">ارسال</button>
                                                                        </div>
                                </form><hr>
                                <ul>
                                    {%  for comment in product.comments %}
                                        <li>
                                            <b>{{ comment.by }}</b>
                                            <p>{{ comment.content }}</p>
                                            <form action="/product/{{ product.product_id }}/delcom/{{ comment.id }}" onsubmit="return confirm('آیا اطمینان دارید؟')">
                                            <button class="addtowishlist" type="submit">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                            </form>
                                            <hr>
                                        </li>
                                    {% endfor %}
                                </ul>
							</div>
							<div id="product-reviews" class="tab-pane">

<ul>
   {%  for comment1 in product.questions %}
    {%  for comment in comment1 %}

        <li>
            <b><i>(سوال)</i>
                <span>{{ comment.question.by|safe }}</span></b>
        <p>{{ comment.question.content|safe }}</p>
        <ul>
            {% for answer in comment.answers %}
            <li><b>
                <i>(پاسخ):</i>

                <span>{{ answer.by|safe }}</span></b>
                <p>{{ answer.content|safe }}</p>
            </li>
                {% endfor %}
        </ul>
    <hr>
    </li>
    {% endfor %}
    {% endfor %}
</ul>
								{% comment %}<div class="add-product-review">
									<h3 class="text-uppercase heading-text-color font-weight-semibold">WRITE YOUR OWN REVIEW</h3>
									<p>How do you rate this product? *</p>

									<form action="#">
										<table class="ratings-table">
											<thead>
												<tr>
													<th>&nbsp;</th>
													<th>1 star</th>
													<th>2 stars</th>
													<th>3 stars</th>
													<th>4 stars</th>
													<th>5 stars</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>Quality</td>
													<td>
														<input type="radio" name="ratings[1]" id="Quality_1" value="1" class="radio">
													</td>
													<td>
														<input type="radio" name="ratings[1]" id="Quality_2" value="2" class="radio">
													</td>
													<td>
														<input type="radio" name="ratings[1]" id="Quality_3" value="3" class="radio">
													</td>
													<td>
														<input type="radio" name="ratings[1]" id="Quality_4" value="4" class="radio">
													</td>
													<td>
														<input type="radio" name="ratings[1]" id="Quality_5" value="5" class="radio">
													</td>
												</tr>
												<tr>
													<td>Value</td>
													<td>
														<input type="radio" name="value[1]" id="Value_1" value="1" class="radio">
													</td>
													<td>
														<input type="radio" name="value[1]" id="Value_2" value="2" class="radio">
													</td>
													<td>
														<input type="radio" name="value[1]" id="Value_3" value="3" class="radio">
													</td>
													<td>
														<input type="radio" name="value[1]" id="Value_4" value="4" class="radio">
													</td>
													<td>
														<input type="radio" name="value[1]" id="Value_5" value="5" class="radio">
													</td>
												</tr>
												<tr>
													<td>Price</td>
													<td>
														<input type="radio" name="price[1]" id="Price_1" value="1" class="radio">
													</td>
													<td>
														<input type="radio" name="price[1]" id="Price_2" value="2" class="radio">
													</td>
													<td>
														<input type="radio" name="price[1]" id="Price_3" value="3" class="radio">
													</td>
													<td>
														<input type="radio" name="price[1]" id="Price_4" value="4" class="radio">
													</td>
													<td>
														<input type="radio" name="price[1]" id="Price_5" value="5" class="radio">
													</td>
												</tr>
											</tbody>
										</table>

										<div class="form-group">
											<label>Nickname<span class="required">*</span></label>
											<input type="text" class="form-control" required>
										</div>
										<div class="form-group">
											<label>Summary of Your Review<span class="required">*</span></label>
											<input type="text" class="form-control" required>
										</div>
										<div class="form-group mb-xlg">
											<label>Review<span class="required">*</span></label>
											<textarea cols="5" rows="6" class="form-control"></textarea>
										</div>

										<div class="text-right">
											<input type="submit" class="btn btn-primary" value="Submit Review">
										</div>
									</form>
								</div>{% endcomment %}
							</div>
						</div>
					</div>
				</div>


{% comment %}
                <div class="owl-carousel owl-theme" data-plugin-options="{'items':4, 'margin':20, 'nav':true, 'dots': false, 'loop': false}">
					<div class="product">
						<figure class="product-image-area">
							<a href="#" title="Product Name" class="product-image">
								<img src="/assets/img/demos/shop/products/product1.jpg" alt="Product Name">
								<img src="/assets/img/demos/shop/products/product1-2.jpg" alt="Product Name" class="product-hover-image">
							</a>

							<a href="#" class="product-quickview">
								<i class="fa fa-share-square-o"></i>
								<span>Quick View</span>
							</a>
							<div class="product-label"><span class="discount">-10%</span></div>
							<div class="product-label"><span class="new">New</span></div>
						</figure>
						<div class="product-details-area">
							<h2 class="product-name"><a href="#" title="Product Name">Noa Sheer Blouse</a></h2>
							<div class="product-ratings">
								<div class="ratings-box">
									<div class="rating" style="width:60%"></div>
								</div>
							</div>

							<div class="product-price-box">
								<span class="old-price">$99.00</span>
								<span class="product-price">$89.00</span>
							</div>

							<div class="product-actions">
								<a href="#" class="addtowishlist" title="Add to Wishlist">
									<i class="fa fa-heart"></i>
								</a>
								<a href="#" class="addtocart" title="Add to Cart">
									<i class="fa fa-shopping-cart"></i>
									<span>Add to Cart</span>
								</a>
								<a href="#" class="comparelink" title="Add to Compare">
									<i class="glyphicon glyphicon-signal"></i>
								</a>
							</div>
						</div>
					</div>

					<div class="product">
						<figure class="product-image-area">
							<a href="#" title="Product Name" class="product-image">
								<img src="/assets/img/demos/shop/products/product2.jpg" alt="Product Name">
								<img src="/assets/img/demos/shop/products/product2-2.jpg" alt="Product Name" class="product-hover-image">
							</a>

							<a href="#" class="product-quickview">
								<i class="fa fa-share-square-o"></i>
								<span>Quick View</span>
							</a>
							<div class="product-label"><span class="discount">-25%</span></div>
						</figure>
						<div class="product-details-area">
							<h2 class="product-name"><a href="#" title="Product Name">Women Fashion Blouse</a></h2>
							<div class="product-ratings">
								<div class="ratings-box">
									<div class="rating" style="width:0%"></div>
								</div>
							</div>

							<div class="product-price-box">
								<span class="old-price">$120.00</span>
								<span class="product-price">$90.00</span>
							</div>

							<div class="product-actions">
								<a href="#" class="addtowishlist" title="Add to Wishlist">
									<i class="fa fa-heart"></i>
								</a>
								<a href="#" class="addtocart" title="Add to Cart">
									<i class="fa fa-shopping-cart"></i>
									<span>Add to Cart</span>
								</a>
								<a href="#" class="comparelink" title="Add to Compare">
									<i class="glyphicon glyphicon-signal"></i>
								</a>
							</div>
						</div>
					</div>

					<div class="product">
						<figure class="product-image-area">
							<a href="#" title="Product Name" class="product-image">
								<img src="/assets/img/demos/shop/products/product3.jpg" alt="Product Name">
							</a>

							<a href="#" class="product-quickview">
								<i class="fa fa-share-square-o"></i>
								<span>Quick View</span>
							</a>
						</figure>
						<div class="product-details-area">
							<h2 class="product-name"><a href="#" title="Product Name">Fashion Dress</a></h2>
							<div class="product-ratings">
								<div class="ratings-box">
									<div class="rating" style="width:60%"></div>
								</div>
							</div>

							<div class="product-price-box">
								<span class="product-price">$70.00</span>
							</div>

							<div class="product-actions">
								<a href="#" class="addtowishlist" title="Add to Wishlist">
									<i class="fa fa-heart"></i>
								</a>
								<a href="#" class="addtocart" title="Add to Cart">
									<i class="fa fa-shopping-cart"></i>
									<span>Add to Cart</span>
								</a>
								<a href="#" class="comparelink" title="Add to Compare">
									<i class="glyphicon glyphicon-signal"></i>
								</a>
							</div>
						</div>
					</div>

					<div class="product">
						<figure class="product-image-area">
							<a href="#" title="Product Name" class="product-image">
								<img src="/assets/img/demos/shop/products/product4.jpg" alt="Product Name">
							</a>

							<a href="#" class="product-quickview">
								<i class="fa fa-share-square-o"></i>
								<span>Quick View</span>
							</a>
							<div class="product-label"><span class="discount">-20%</span></div>
						</figure>
						<div class="product-details-area">
							<h2 class="product-name"><a href="#" title="Product Name">Fashion Sweater</a></h2>
							<div class="product-ratings">
								<div class="ratings-box">
									<div class="rating" style="width:80%"></div>
								</div>
							</div>

							<div class="product-price-box">
								<span class="old-price">$100.00</span>
								<span class="product-price">$90.00</span>
							</div>

							<div class="product-actions">
								<a href="#" class="addtowishlist" title="Add to Wishlist">
									<i class="fa fa-heart"></i>
								</a>
								<a href="#" class="addtocart" title="Add to Cart">
									<i class="fa fa-shopping-cart"></i>
									<span>Add to Cart</span>
								</a>
								<a href="#" class="comparelink" title="Add to Compare">
									<i class="glyphicon glyphicon-signal"></i>
								</a>
							</div>
						</div>
					</div>

					<div class="product">
						<figure class="product-image-area">
							<a href="#" title="Product Name" class="product-image">
								<img src="/assets/img/demos/shop/products/product11.jpg" alt="Product Name">
							</a>

							<a href="#" class="product-quickview">
								<i class="fa fa-share-square-o"></i>
								<span>Quick View</span>
							</a>
						</figure>
						<div class="product-details-area">
							<h2 class="product-name"><a href="#" title="Product Name">Woman Shee Blouse</a></h2>
							<div class="product-ratings">
								<div class="ratings-box">
									<div class="rating" style="width:0%"></div>
								</div>
							</div>

							<div class="product-price-box">
								<span class="product-price">$70.00</span>
							</div>

							<div class="product-actions">
								<a href="#" class="addtowishlist" title="Add to Wishlist">
									<i class="fa fa-heart"></i>
								</a>
								<a href="#" class="addtocart" title="Add to Cart">
									<i class="fa fa-shopping-cart"></i>
									<span>Add to Cart</span>
								</a>
								<a href="#" class="comparelink" title="Add to Compare">
									<i class="glyphicon glyphicon-signal"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
{% endcomment %}
			</div>

			</div>

			<footer id="footer">
				<div class="footer-copyright">
					<div class="container">

                        <p class="copyright-text">© Copyright 2018. All Rights Reserved.</p>
					</div>
				</div>
			</footer>
		</div>
{% endblock %}